@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:ital@1&family=Poppins&display=swap');

article.package {
    width: 50%;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    align-content: center;
    margin: auto;
    width: 50%;
    border: 3px;
    padding: 3px;
}



a.button {
    justify-content: space-between;
    color: white;
    text-align: center;
    background: #F9813A;
    margin-top: 5px;
    padding: 10px 10px;
    margin-left: 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}


article.package h4{
    color: #F9813A;
    border-bottom: 3px solid black;
    padding: 10px;
    font-family: poppins ;
}
